<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <p>This is Admin\Index. Only people with role_admin can see this.</p>
</div>

<div class="container">
    <h1>Felhasználók:</h1>


    <table style="width:100%">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Update</th>

        </tr>

        <tr th:each="user: ${users}">
            <td th:text="${user.getFirstName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getEmail()}"/>
            <td>
                <div class="btn btn-danger"><i class="fas fa-wrench"></i></div>
            </td>
            <!--        <td><a th:href="@{{baseURL}{id}(id=${user.id},baseURL=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_ROOT})}"-->
            <!--               class="btn btn-primary"> <i class="fas fa-angle-double-right"></i>-->
            <!--        </a></td>-->
            <!--        </td>-->
        </tr>
    </table>
</div>
</table>
</body>
</html>