<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<!--<div class="container">-->
<!--    <p>This is Admin\Index. Only people with role_admin can see this.</p>-->
<!--</div>-->



    <div class="bg-info d-flex justify-content-center clearfix text-xl-center">
    <h1 >Felhasználók</h1>
</div>
<div class="container">
  <br><br>
</div>

<div class="container">
    <table class="table table-bordered table-responsive-md table-striped text-center" style="width:100%">
        <tr class="default-color-dark" >
           <h3>
            <th class="text-center"><strong>ID</strong></th>
            <th class="text-center"><strong>Vezetéknév</strong></th>
            <th class="text-center"><strong>Keresztnév</strong></th>
            <th class="text-center"><strong>Email</strong></th>
            <th class="text-center"><strong>Jogosultság</strong></th>
            <th class="text-center"><strong>Jogosultság frissítése</strong></th>
            <th class="text-center"><strong>Törlése</strong></th>
           </h3>
        </tr>
        <tr class=" blue lighten-5" th:each="user: ${users}">
           <h2>
            <td class="text-center" th:text="|${user.getId()}.|"/>
            <td class="text-center" th:text="${user.getFirstName()}"/>
            <td class="text-center" th:text="${user.getLastName()}"/>
            <td class="text-center" th:text="${user.getEmail()}"/>
            <td class="text-center" th:text="${user.getRoles().iterator().next().getName()}"/>
               <td><a th:href="@{/admin/delete/{id}(id=${user.getId()})}" class="btn btn-danger" ><i class="fas fa-trash"></i></a></td>
               <td>
               <!--        <td><a th:href="@{{baseURL}{id}(id=${user.id},baseURL=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_ROOT})}"-->
               <!--               class="btn btn-primary"> <i class="fas fa-angle-double-right"></i>-->
               <!--        </a></td>-->
               <!--        </td>-->
               <form th:action="@{/admin/update/{id}(id=${user.getId()})}">
                   <select name="role">
                       <option th:value="'R'" th:text="RegularUser"></option>
                       <option th:value="'A'" th:text="Admin"></option>
                   </select>
                   <button type = "submit" class="btn btn-primary"><i class="fas fa-user-edit"></i></button>
               </form>

               </td>
           </h2>


        </tr>
    </table>
</div>
</table>
</body>
</html>