<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<table style="width:100%">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.getFirstName()}" />
        <td th:text="${user.getLastName()}" />
        <td th:text="${user.getEmail()}" />
    </tr>
</table>

</body>
</html>