<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <div style="margin-top:24px;padding: 24px;">

        <div class="row d-flex justify-content-center">

            <div class="col-md-6 col-md-offset-3">


                <div class="card-header peach-gradient white-text text-center py-4">
                    <i class="fa fa-user"></i>  <strong>Register</strong>
                </div>
                <form class="text-center border border-light p-5" method="post"
                      th:action="@{/registration}"
                      th:object="${userRegistrationDto}">

                    <p class="error-message" th:each="error : ${#fields.errors('global')}"
                       th:if="${#fields.hasGlobalErrors()}" th:text="${error}">Validation
                        error</p>


                    <div class="form-row mb-4"
                         th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                        <div class="col">
                        <div class="md-form">
                            <input class="form-control" id="firstName" placeholder="Firtsname" th:field="*{firstName}"/>
                        </div>
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                            <div class="col">
                            <div class="md-form">
                                <!--                        <label for="lastName" class="control-label">Last name</label> -->
                                <input class="form-control" id="lastName" placeholder="LastName"
                                       th:field="*{lastName}"/>
                            </div>
                            </div>
                        </div>
                    </div>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>

                    <div class="md-form" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <input class="form-control" id="email" placeholder="Email" th:field="*{email}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                            error</p>
                    </div>
                    <div class="md-form"
                         th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                        <input class="form-control" id="confirmEmail"
                               placeholder="Email again" th:field="*{confirmEmail}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('confirmEmail')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="md-form"
                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <input
                                class="form-control" id="password" placeholder="Password"
                                th:field="*{password}" type="password"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="md-form"
                         th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                        <input class="form-control" id="confirmPassword"
                               placeholder="Confirm Password" th:field="*{confirmPassword}" type="password"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('confirmPassword')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                        <input id="terms" th:field="*{terms}" type="checkbox"/>   <label
                            class="control-label" for="terms"> I agree with the <a
                            href="#">terms and conditions</a> for Registration.
                    </label>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
                            error</p>
                    </div>
                    <div class="form-group">
                        <button class="btn peach-gradient" type="submit">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>

<footer class="page-footer fixed-bottom font-small teal  pt-2" th:fragment="foot">

    <div class="container">

        <ul class="list-unstyled list-inline text-center py-2">

            <li class="list-inline-item" >
                <h5 class="mb-1">ringatlan.com</h5>
            </li>
        </ul>
    </div>


</footer>

</body>
</html>