<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{~/lightbox.js}"> </script>
<head th:insert="fragments.html :: headerfiles"></head>
<style>

</style>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 class="mt-5 ml-3 text-center" th:text="${realEstate.getCim()}"></h2>


<div id="myModal" class="modal">
    <span class="close cursor" th:onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <div th:if= "${realEstatePhotos != null}">
            <div th:each="realEstatePhoto : ${realEstatePhotos}">
                <div class="mySlides" th:each="i: ${#numbers.sequence(1, 1)}">
                            <img th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhoto},id = ${realEstate.getId()}))}"  width="60%" />
                </div>
            </div>
        </div>


        <a class="prev" th:onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" th:onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

    </div>
</div>
<div class="container mt-1 border-top border-bottom border-dark d-flex justify-content-center">
    <div class="col-sm-6 mt-2 mb-2">

        <!--Carousel Wrapper-->
        <div class="carousel slide carousel-fade" data-ride="carousel" id="carousel-example-1z">
            <!--Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div th:each="realEstatePhoto : ${realEstatePhotos}">
                </div>
                    <img class="d-block w-100"  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(0)},id = ${realEstate.getId()}))}" style="width:270px;height:290px;" th:onclick="openModal();currentSlide(1)" />
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->

            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->



    <div class="container ">
        <div th:if= "${realEstatePhotos != null}">
            <div th:each="realEstatePhoto : ${realEstatePhotos}"></div>
                <th:block th:each="i: ${#numbers.sequence(1, 1)}"></th:block>

                <div class="row row-1">

                    <div class="col-sm-4 mt-3"><img  class="img-fluid"  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(0)},id = ${realEstate.getId()}))}" style="width:190px;height:115px;" th:onclick="openModal();currentSlide(1)" /></div>
                    <div class="col-sm-4 mt-3"><img  class="img-fluid"  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(1)},id = ${realEstate.getId()}))}" style="width:190px;height:115px;" th:onclick="openModal();currentSlide(2)" /></div>
                    <div class="col-sm-4 mt-3"><img  class="img-fluid"  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(2)},id = ${realEstate.getId()}))}" style="width:190px;height:115px;" th:onclick="openModal();currentSlide(3)" /></div>


            <div class="col-sm-4 mt-3"><img  class="img-fluid"  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(3)},id = ${realEstate.getId()}))}" style="width:190px;height:115px;" th:onclick="openModal();currentSlide(4)" ></div>
                    <div class="col-sm-4 mt-3"><img  class="img-fluid"  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(4)},id = ${realEstate.getId()}))}" style="width:190px;height:115px;" th:onclick="openModal();currentSlide(5)" ></div>
                    <div class="col-sm-4 mt-3"><img  class="img-fluid"  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(5)},id = ${realEstate.getId()}))}" style="width:190px;height:115px;" th:onclick="openModal();currentSlide(6)" ></div>

            </div>


                            </div>
                </div>
            </div>
        </div>
    </div>


<div class="container ">
    <div class="col-xl-5 mt-2 mb-2">


<!--        <div class="container mt-1  ">-->

            <div class="row">

                <i class="fas fa-money-bill"></i>
                <h5><p class="card-text font-weight-light   "
                       th:text="|&nbsp ${realEstate.getPrice()} Ft&nbsp&nbsp&nbsp|"></h5>
                </p>

                <i class="fas fa-bed"></i>
                <h5><p class="card-text font-weight-light   " th:text="|&nbsp ${realEstate.getSzobakSzama()}|"></p></h5>
                &nbsp <h5>szoba</h5>&nbsp&nbsp&nbsp

                <i class="fas fa-arrows-alt"></i>
                <h5><p class="card-text font-weight-light   " th:text="|&nbsp ${realEstate.getMeret()}|"></p></h5>
                &nbsp <h5>m<sup>2</sup></h5> &nbsp&nbsp&nbsp

            </div>
<!--        </div>-->
    </div>
</div>

<div class="container ">
        <br>
        <h4>Az ingatlan jellemzői:</h4><br>

        <div class="row">
            <div class="col-sm">
                <h5>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Hírdetés tipusa:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Város:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Utca:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Megye:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Ir. szám:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Hirdető neve:</strong> </div>
                </h5>
            </div>

            <div class="col-sm">
                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getHirdetesTipus()}|"></p></h5>


                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getTelepulesNev()}|"></p></h5>

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getAddress()}|"></p></h5>

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getMegye()}|"></p></h5>

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getIranyitoSzam()}|"></p></h5>
                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getUser().getLastName()} |"></p></h5>



            </div>
            <div class="col-sm">
                <h5>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Ár:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Ingatlan tipusa:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Méret:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Szobák száma: </strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Félszobák száma:</strong> </div>
                    <div class="mt-3 font-weight-light mb-0" ><strong>Email:</strong> </div>

                </h5>
            </div>

            <div class="col-sm">

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getPrice()} Ft|"></p></h5>

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getIngatlanTipus()}|"></p></h5>

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getMeret()} négyzetméter|"></p></h5>

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getSzobakSzama()} db|"></p></h5>

                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getFelszobakSzama()} db|"></p></h5>
                <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                       th:text="|${realEstate.getUser().getEmail()}|"></p></h5>


            </div>

        </div>


</div>

<div class="container">

    <div class="row">
        <div class="col-sm">
    <h5><div class="mt-5 font-weight-light mb-0" ><strong>Ingatlan leírása:</strong> </div></h5>
            <h5><p class="mt-3 font-weight-light mb-0" style="color:darkslategray"
                   th:text="|${realEstate.getDescription()} |"></p></h5>

        </div>
    </div>
</div>

<footer th:insert="fragments.html :: foot"></footer>
</body>
</html>
