<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 th:text="${realEstate.getCim()}" class="mt-5 ml-3 text-center"></h2>

<div class="container mt-1 border-top border-bottom border-dark d-flex justify-content-center">
    <div class="col-sm-6 mt-2 mb-2">

        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <img class="d-block w-100" th:src="@{~/hirdetes.png}"
                         alt="First slide">
                </div>
                <!--/First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    <img class="d-block w-100" th:src="@{~/hirdetes.png}"
                         alt="Second slide">
                </div>
                <!--/Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                    <img class="d-block w-100" th:src="@{~/hirdetes.png}"
                         alt="Third slide">
                </div>
                <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <div class="container">
        <div class="row row-1">
            <div class="col-sm-4 mt-3">        <img class="img-fluid" th:src="@{~/hirdetes.png}" alt="hirdeteskep">
            </div>
            <div class="col-sm-4 mt-3">        <img class="img-fluid" th:src="@{~/hirdetes.png}" alt="hirdeteskep">
            </div>
        </div>
        <div class="row mt-1" >
            <div class="col-sm-4 mt-1">        <img class="img-fluid" th:src="@{~/hirdetes.png}" alt="hirdeteskep">
            </div>
            <div class="col-sm-4 mt-1">        <img class="img-fluid" th:src="@{~/hirdetes.png}" alt="hirdeteskep">
            </div>
        </div>
        <div class="row mt-1" >
            <div class="col-sm-4 mt-1">        <img class="img-fluid" th:src="@{~/hirdetes.png}" alt="hirdeteskep">
            </div>
            <div class="col-sm-4 mt-1">        <img class="img-fluid" th:src="@{~/hirdetes.png}" alt="hirdeteskep">
            </div>
        </div>
    </div>



</div>
<div class="container">
    <div class="col-sm-6 mt-2 mb-2">


    <div class="container mt-1 ">

        <div class="row">

            <i class="fas fa-money-bill"></i>
            <h5><p class="card-text font-weight-light   "  th:text="|&nbsp ${realEstate.getPrice()} Ft&nbsp&nbsp&nbsp|"></h5></p>

            <i class="fas fa-bed"></i>
            <h5><p class="card-text font-weight-light   "  th:text="|&nbsp ${realEstate.getSzobakSzama()}|"></p></h5>
            &nbsp <h5>szoba</h5>&nbsp&nbsp&nbsp

             <i class="fas fa-arrows-alt"></i>
             <h5><p class="card-text font-weight-light   "  th:text="|&nbsp ${realEstate.getMeret()}|"></p></h5>
            &nbsp <h5>m<sup>2</sup></h5>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">Város: </div>
                <div class="col-sm-2">
                    <div th:text="${realEstate.getTelepulesNev()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">Ár: </div>
                <div class="col-sm-2">
                    <p th:text="${realEstate.getPrice()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
            </div>
        </div>


        <p th:text="${realEstate.getDescription()}" style="color:darkslategray" class="mt-4" th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}"></p>
            <p th:text="${realEstate.getIranyitoSzam()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>
            <p th:text="${realEstate.getCim()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>
            <!--        <p th:text="${realEstate.getHazszam()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>-->
            <p th:text="${realEstate.getHirdetesTipus()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>
            <p th:text="${realEstate.getIngatlanTipus()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>
            <p th:text="${realEstate.getMegye()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>
            <p th:text="${realEstate.getAddress()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>



    </div>
</div>
</div>
</div>
<footer th:insert="fragments.html :: foot"></footer>
</body>
</html>
