<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<body>
<!-- ezt kiszervezni kulon html be ???-->
<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Street</th>
        <th>Details</th>
        <th>Remove</th>


    </tr>
    <tr th:each="realEstate: ${myRealEstates}">
        <td th:text="${realEstate.getName()}" />
        <td th:text="${realEstate.getAddress()}" />
        <td><a th:href="@{{baseURL}{id}(id=${realEstate.id},baseURL=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_ROOT})}"
               class="btn btn-primary"> <i class="fas fa-angle-double-right"></i>
        </a></td>
         <td><a th:href="@{/realEstate/doDelete/{id}(id=${realEstate.id})}" class="btn btn-danger">Delete</a>
        </td>

    </tr>
</table>



</body>
</html>