<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>


itt xxdxdd
<div th:each="realEstatePhoto : ${realEstatePhotos}">

    <a th:href="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhoto},id = ${realEstate.getId()}))}" class="btn btn-danger" ><i class="fas fa-wrench"></i></a>



    <img th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhoto},id = ${realEstate.getId()}))}" width="120"/>


</div>

<img alt="hirdeteskep" class="img-fluid" src="/realEstatePhotos/17/amongus.png" style="width:190px;height:120px;" />
<img alt="hirdeteskep" class="img-fluid" th:src="@{~/hirdetes.png}" style="width:190px;height:120px;" />

zzzzzzzzzzzzzzzzzzzzzzzzz
@{~/realestates/{id}/(id=${realEstate.getId()})}
<img alt="Image" th:src="@{/realestates/image/adf}" width="250" height="250"/>


share  edit  follow

</body>
</html>