<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container my-5">

    <h3>Upload your ad</h3>
    <p class="error-message" th:each="error : ${#fields.errors('global')}"
       th:if="${#fields.hasGlobalErrors()}" th:text="${error}">Validation
        error</p>

    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#"
                      method="post"
                      th:action="@{{baseURL}{upload}(upload=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_UPLOAD},baseURL=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_ROOT})}"
                      th:object="${realEstate}">

                    <div class="form-row">
                        <div class="form-group col-md-6"
                             th:classappend="${#fields.hasErrors('hirdetesTipus')}? 'has-error':''">
                            <label for="hirdetesTipus">Hirdetés típusa*</label>
                            <select class=" browser-default custom-select mb-4 " id="hirdetesTipus"
                                    th:field="*{hirdetesTipus}">
                                <option disabled="" selected="" value="">Válasz típust</option>
                                <option value="Elado">Eladó</option>
                                <option value="Kiado">Kiadó</option>
                            </select>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('hirdetesTipus')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"
                             th:classappend="${#fields.hasErrors('ingatlanTipus')}? 'has-error':''">
                            <label for="ingatlanTipus">Ingatlan típusa*</label>
                            <select class=" browser-default custom-select mb-4 " id="ingatlanTipus"
                                    th:field="*{ingatlanTipus}">
                                <option disabled="" selected="" value="">Ingatlan típusa</option>
                                <option value="Haz">Ház</option>
                                <option value="Lakas">Lakás</option>
                                <option value="3">Telek</option>
                                <option value="4">Nyaraló</option>
                                <option value="5">Egyéb</option>
                            </select>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('ingatlanTipus')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('cim')}? 'has-error':''">

                            <label for="cim">Hirdetesed címe*</label>
                            <input class="form-control" id="cim" placeholder="Adja meg a címet" th:field="*{cim}" type="text">
                            <p class="error-message"
                               th:each="error: ${#fields.errors('cim')}"
                               th:text="${error}">Validation error</p>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
                            <label for="price">Ingatlan ára (Millió Ft)*</label>
                            <input class="form-control" id="price" placeholder="84.5 M Ft" th:field="*{price}" type="number">
                            <p class="error-message"
                               th:each="error: ${#fields.errors('price')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('meret')}? 'has-error':''">
                            <label for="meret">Méret (m<sup>2</sup>)*</label>
                            <input class="form-control" id="meret" placeholder="Ingatlan mérete" th:field="*{meret}" type="text">
                            <p class="error-message"
                               th:each="error: ${#fields.errors('meret')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group col-md-3"
                             th:classappend="${#fields.hasErrors('szobakSzama')}? 'has-error':''">
                            <label for="szobakSzama">Szobák száma*</label>
                            <select class="form-control" id="szobakSzama" th:field="*{szobakSzama}">
                                <option selected value="">Válassz</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">több</option>


                            </select>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('szobakSzama')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group col-md-3"
                             th:classappend="${#fields.hasErrors('felszobakSzama')}? 'has-error':''">
                            <label for="felszobakSzama">Félszobák szama</label>
                            <select class="form-control" id="felszobakSzama" th:field="*{felszobakSzama}">
                                <option selected value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">több</option>


                            </select>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('felszobakSzama')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"
                             th:classappend="${#fields.hasErrors('telepulesNev')}? 'has-error':''">
                            <label for="telepulesNev">Település*</label>
                            <input class="form-control" id="telepulesNev" placeholder="Település neve"
                                   th:field="*{telepulesNev}"
                                   type="text">
                            <p class="error-message"
                               th:each="error: ${#fields.errors('telepulesNev')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('megye')}? 'has-error':''">
                            <label for="megye">Megye*</label>
                            <select class="form-control" id="megye" th:field="*{megye}">
                                <option selected value="">Válassz</option>
                                <option value="Csongrád-Csanád">Csongrád-Csanád</option>
                                <option value="Békés">Békés</option>
                                <option value="Bács-Kiskun">Bács-Kiskun</option>
                                <option value="Baranya">Baranya</option>
                                <option value="Borsod-Abaúj-Zemplén">Borsod-Abaúj-Zemplén</option>
                                <option value="Fejér">Fejér</option>
                                <option value="Győr-Moson-Sopron">Győr-Moson-Sopron</option>
                                <option value="Hajdú-Bihar">Hajdú-Bihar</option>
                                <option value="Heves">Heves</option>
                                <option value="Jász-Nagykun-Szolnok">Jász-Nagykun-Szolnok</option>
                                <option value="Komárom-Esztergom">Komárom-Esztergom</option>
                                <option value="Nógrád">Nógrád</option>
                                <option value="Pest">Pest</option>
                                <option value="Somogy">Somogy</option>
                                <option value="Szabolcs-Szatmár-Bereg">Szabolcs-Szatmár-Bereg</option>
                                <option value="Tolna">Tolna</option>
                                <option value="Vas">Vas</option>
                                <option value="Veszprém">Veszprém</option>
                                <option value="Zala">Zala</option>
                                <option value="Külfödi ingatlan">Külfödi ingatlan</option>


                            </select>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('megye')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group col-md-2"
                             th:classappend="${#fields.hasErrors('iranyitoSzam')}? 'has-error':''">
                            <label for="iranyitoSzam">Ir. szám*</label>
                            <input class="form-control" id="iranyitoSzam" placeholder="6600" th:field="*{iranyitoSzam}"
                                   type="text">
                            <p class="error-message"
                               th:each="error: ${#fields.errors('iranyitoSzam')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('address')}? 'has-error':''">
                        <label for="address">Utca</label>
                        <input class="form-control" id="address" placeholder="Utca megadása" th:field="*{address}"
                               type="text">
                        <p class="error-message"
                           th:each="error: ${#fields.errors('address')}"
                           th:text="${error}">Validation error</p>
                    </div>


                    <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                        <label for="description">Ingatlan leírás</label>
                        <textarea class="form-control" id="description" placeholder="Please describe your apartment"
                                  rows="3"
                                  th:field="*{description}" type="text"></textarea>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('description')}"
                           th:text="${error}">Validation error</p>
                    </div>

                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>