<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<meta content="en" property="og:locale">
<head th:fragment="headerfiles">
    <title>Ringatlan</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{~/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{~/google.fonts.css}">
    <link rel="stylesheet" th:href="@{~/mdb.min.css}">
    <link th:href="@{~/lightyboxy.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{~/}">
            <img alt="" height="48" th:class="${#httpServletRequest.getRequestURI() == '/' ? 'animated rotateInDownLeft':''}"
                 th:src="@{~/logo.png}">
        </a>
        <button aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#basicExampleNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? '-active':''}">
                    <a class="nav-link" href="#" th:href="@{~/}" th:utext="#{label.pages.home.title}"></a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/viewads' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/viewads}" th:utext="#{label.pages.home.viewads}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous( )"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/registration}"
                       th:utext="#{label.pages.home.register}"></a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/profile' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/profile}">My ads</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/admin}" th:utext="#{label.pages.admin}">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/management/index' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/management/index}">Management</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#"
                       th:href="@{{baseURL}{upload}(upload=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_UPLOAD},baseURL=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_ROOT})}"
                    ><i class="fas fa-file-upload"></i>Hirdetés feltöltése</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm" sec:authorize="isAuthenticated()"
                        th:utext="#{label.pages.logout}" type="submit">Kijelentkezés
                </button>
                <button class="btn btn-outline-info my-2 my-sm-0 btn-sm" sec:authorize="isAnonymous( )"
                        th:href="@{~/login}" th:utext="#{label.form.loginTitle}"
                        type="submit">Bejelentkezés
                </button>
            </form>
        </div>
    </nav>
</div>

<div th:fragment="search">

    <div class="bg-info d-flex justify-content-center clearfix">

        <form action="" class="form-inline" th:action="@{/}" method="get" name="elado">
            <!--    <div class="p-2 py-2">
                   <div class="custom-control custom-radio">
                       <input checked class="custom-control-input" id="defaultChecked"
                              type="checkbox">
                       <label class="custom-control-label" for="defaultChecked">Eladó</label>
                   </div>

                   <div class="custom-control custom-radio">
                       <input checked class="custom-control-input" id="defaultUnchecked" type="checkbox">
                       <label class="custom-control-label" for="defaultUnchecked">Kiadó</label>
                   </div>

               </div>         -->
               <div class="form-group">
                   <div class="input-group">

                       <select class="form-control" id="defaultSelect" name="ingatlanTipus">
                           <option selected="" value="0">Lakás</option>
                           <option value="1">Ház</option>
                           <option value="2">Ikerház</option>
                           <option value="3">Nyaraló</option>
                       </select>
                   </div>
               </div>
               <div class="form-group">
                   <div class="input-group">
                       <input id = "txtSearch" class="form-control" name="telepulesNev" placeholder="Város" type="text">
                   </div>
                   <div class="input-group-append">
                       <button type = "submit" class="btn btn-primary"><i class="fa fa-search"></i>
                       </button>
                       </button>
                   </div>

               </div>
           </form>

       </div>
   </div>
   <div th:fragment="premium">


       <div class="container mt-5">
           <div class="row row-cols-3">
               <div class="col" th:each="realEstate : ${realEstates}" th:if="${realEstate.id} <10">
                   <a th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}">

                       <div class="card hoverable">
                           <img alt="Generic placeholder image" class="card-img-top w-100 h-25 img-thumbnail"
                                th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}" th:src="@{~/hirdetes.png}">
                           <div class="card-body">

                               <!-- Title -->
                            <h4 class="card-title" th:text="|${realEstate.getPrice()} M Ft|"><a>Hirdetes</a></h4>
                            <!-- Text -->
                            <div class="row">
                                <div class="col-sm">
                                    <a href="#"><p class="card-text font-weight-light   " style="color:darkslategray"
                                                   th:text="${realEstate.getDescription()}">Hirdetés leírás példa
                                        Hirdetés leírás példa</p></a>
                                </div>

                                <div class="col-sm">
                                    <div class="row">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a href="#"><p class="card-text font-weight-light   "
                                                       style="color:darkslategray"
                                                       th:text="|&nbsp ${realEstate.getTelepulesNev()}|">Hirdetés leírás
                                            példa Hirdetés leírás példa</p></a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>

        </div>
    </div>
</div>



<footer class="page-footer bottom font-small teal  pt-2" th:fragment="foot">

    <div class="container">

        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item" sec:authorize="isAnonymous( )">
                <h5 class="mb-1">Register for free</h5>
            </li>

            <li class="list-inline-item" sec:authorize="isAnonymous( )"
                th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? '-active':''}">
                <a class="btn btn-outline-white btn-rounded" href="#" th:href="@{~/registration}">Sign up!</a>
            </li>
            <li class="list-inline-item" sec:authorize="isAuthenticated()">
                <h5 class="mb-1">ringatlan.com</h5>
            </li>
        </ul>
    </div>
<!--    <div class="footer-copyright text-center py-3">-->

<!--    </div>-->

</footer>
</body>
</html>