<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta property="og:locale" content="en">
<!-- Fragment #1 : Header files contains css and js references -->
<head th:fragment="headerfiles">
    <title>Ringatlan</title>
    <meta charset="UTF-8"/>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
    <link th:href="@{~/google.fonts.css}" rel="stylesheet">
    <link th:href="@{~/mdb.min.css}"  rel="stylesheet">
</head>
<body>

<!-- Fragment #2 : Navbar contains nav links -->
<div th:fragment="nav"  >
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{~/}">
            <img alt="" height="48" th:src="@{~/logo.png}" th:class="${#httpServletRequest.getRequestURI() == '/' ? 'animated rotateInDownLeft':''}">
        </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? '-active':''}">
                    <a class="nav-link" href="#"  th:utext="#{label.pages.home.title}"  th:href="@{~/}"></a>
                </li>
                <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/viewads' ? '-active':''}">
                    <a class="nav-link" href="#" th:utext="#{label.pages.home.viewads}" th:href="@{~/viewads}"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/profile/index' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/profile/index}">Profil</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/index' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/admin/index}" th:utext="#{label.pages.admin}">Admin</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/management/index' ? 'active':''}">
                    <a class="nav-link" href="#" th:href="@{~/management/index}">Management</a>
                </li>

            </ul>
            <!-- biztos a navbarban akarjuk a searchot?? <ul class="nav justify-content-center">
                <li>
                    <form class="form-inline">
                        <div class="active-cyan-3 active-cyan-4 mb-4">
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </form>
                </li>
            </ul>
            -->
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#"
                    th:href="@{{baseURL}{upload}(upload=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_UPLOAD},baseURL=${T(hu.IB153I16.ingatlan.utils.constant.URLPATH).REALESTATE_ROOT})}"
                    ><i class="fas fa-file-upload"></i>Hirdetés feltöltése</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Kijelentkezés</button>
                <button sec:authorize="isAnonymous( )" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Bejelentkezés</button>
            </form>
        </div>
    </nav>
</div>

<div th:fragment="search">

    <div class="bg-info d-flex justify-content-center clearfix">

        <div class="p-2 ">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                <label class="custom-control-label" for="defaultUnchecked">Kiadó</label>
            </div>

            <!-- Default checked -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                <label class="custom-control-label" for="defaultChecked">Eladó</label>
            </div>
        </div>
        <div class="p-2">
            <form class="form-inline">
                <div class="active-cyan-3 active-cyan-4 ">
                    <input class="form-control ml-3" type="text" placeholder="Város" aria-label="Search" >
                </div>
            </form>
        </div>
        <div class="p-2">
            <form class="form-inline">
                <div class="active-cyan-3 active-cyan-4 mb-4">
                    <input class="form-control pr-5" type="text" placeholder="Utca" aria-label="Search">
                </div>
            </form>
        </div>
    </div>
</div>
<div th:fragment="premium">
    <div class="container mt-5">
        <div class="row row-cols-3">
            <div class="col"><div class="card">

                <!-- Card image -->
                <img class="card-img-top w-100 h-25 img-thumbnail" th:src="@{~/hirdetes.png}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>Hirdetes</a></h4>
                    <!-- Text -->
                    <p class="card-text">Hirdetés leírás példa Hirdetés leírás példa </p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">Button</a>

                </div>

            </div></div>
            <div class="col"><div class="card">

                <!-- Card image -->
                <img class="card-img-top w-100 h-25 img-thumbnail" th:src="@{~/hirdetes.png}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>Hirdetes</a></h4>
                    <!-- Text -->
                    <p class="card-text">Hirdetés leírás példa Hirdetés leírás példa </p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">Button</a>

                </div>

            </div></div>
            <div class="col"><div class="card">

                <!-- Card image -->
                <img class="card-img-top w-100 h-25 img-thumbnail" th:src="@{~/hirdetes.png}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>Hirdetes</a></h4>
                    <!-- Text -->
                    <p class="card-text">Hirdetés leírás példa Hirdetés leírás példa </p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">Button</a>

                </div>

            </div></div>
        </div>
    </div>
</div>





    <!-- Footer -->
    <footer th:fragment="foot"  class="page-footer fixed-bottom font-small unique-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Register for free</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
                </li>
            </ul>
            <!-- Call to action -->

        </div>


    </footer>
    <!-- Footer -->

</body>
</html>