<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div>
    <div class="d-flex justify-content-center bg-info mt-10 animated">
        <h1><p class="-font-awesome -mars-stroke mt-3">Találja meg álmai otthonát!</p></h1>
    </div>
    <header th:insert="fragments.html :: search"></header>
</div>
<header th:insert="fragments.html :: premium"></header>
<header th:insert="fragments.html :: foot"></header>

</body>
</html>