<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Log in</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">

        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered
                to our awesome app!
            </div>
        </div>

        <div class="card">
            <div class="card-header indigo white-text text-center py-4">
                <i class="fa fa-user"></i> <strong> Please Login</strong>
            </div>
            <div class="card-block" style="padding: 24px;">
                <form method="post" name="f" th:action="@{/login}">
                    <fieldset>
                        <div class="alert alert-danger" th:if="${param.error}">
                            Invalid username and password.
                        </div>

                        <div class="alert alert-success" th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <div class="md-form">
                            <label for="username"></label>
                            <i class="fas fa-user prefix"></i>
                            <input class="form-control" id="username" name="username" placeholder="Username"
                                   type="text">
                        </div>

                        <div class="md-form">
                            <label for="password"></label>
                            <i class="fas fa-lock prefix"></i>
                            <input class="form-control" id="password" name="password" placeholder="Password"
                                   type="password">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" id="checkRememberMe" name="checkRememberMe" type="checkbox">
                            <label class="form-check-label" for="checkRememberMe">Remember me?</label>
                        </div>

                        <div class="form-actions " style="margin-top: 12px;">
                            <button class="btn aqua-gradient btn-rounded" type="submit">Log in</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>