<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<header th:insert="fragments.html :: search"></header>
<div class="container mt-5">
    <ul class="list-unstyled border border-left-0 border-dark border-top-0 border-bottom-0 hoverable"
        th:each="realEstate : ${realEstates}">
        <a th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}">
            <li class="media mt-5 ">
                <div class="col-sl-3">
                    <div class="col-sm mt-3"><img class="img-fluid img-thumbnail content-box "  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstate.getMainPhotoName()},id = ${realEstate.getId()}))}" style="width:240px;height:170px;" th:onclick="openModal();currentSlide(0)" /></div>
<!--                    IDE JON MAJD A PROFILKEP-->
<!--                    <div th:each="realEstatePhoto : ${realEstatePhotos}"></div>-->
<!--                    <img class="img-fluid img-thumbnail content-box "  th:src="@{/realestates/image/{id}/{fileName}((fileName = ${realEstatePhotos.get(0)},id = ${realEstate.getId()}))}" style="width:270px;height:290px;" th:onclick="openModal();currentSlide(1)" />-->
<!--             -->

                </div>

                <div class="media-body ">

                    <b></b>
                    <h3 class="mb-1 mt-1" style="color:darkslategray" th:text="|${realEstate.getPrice()} M Ft|">List-based
                        media object</h3></b>

                    <p class="mt-4" style="color:darkslategray" th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}"
                       th:text="| ${realEstate.getCim()}|"></p>

                    <div class="row">
                        &nbsp&nbsp&nbsp&nbsp <i class="fas fa-bed"></i>
                        <p class="card-text font-weight-light   " th:text="|&nbsp ${realEstate.getSzobakSzama()}|"></p>
                        &nbsp szoba
                        &nbsp&nbsp&nbsp&nbsp<i class="fas fa-arrows-alt"></i>
                        <p href="#">
                        <p class="card-text font-weight-light   " th:text="|&nbsp ${realEstate.getMeret()}|">Hirdetés
                            leírás példa Hirdetés leírás példa</p>
                        &nbsp négyzetméter
                    </div>

                    <div class="col-sm">
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <p class="card-text font-weight-light   " style="color:darkslategray"
                               th:text="|&nbsp ${realEstate.getTelepulesNev()}|">Hirdetés leírás példa Hirdetés leírás
                                példa</p>
                        </div>

                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <i class="fas fa-envelope-open-text"></i>
                            <p class="card-text font-weight-light   "
                               th:text="|&nbsp ${realEstate.getUser().getEmail()}|">Hirdetés leírás példa Hirdetés
                                leírás példa</p>
                        </div>

                    </div>

                </div>
            </li>
        </a>
    </ul>
</div>

<footer th:insert="fragments.html :: foot"></footer>

</body>
</html>