<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<header th:insert="fragments.html :: search"></header>
<div class="container mt-5">

<!--
    <div class="card">
        <div class="card-body mt-3" th:each="realEstate : ${realEstates}">
            <h5 class="card-title " th:text="${realEstate.getName()}">Panel title</h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${realEstate.getPrice()}">Panel subtitle</h6>
            <p class="card-text " th:text="${realEstate.getDescription()}">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
            <a class="card-link" th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}">MEGTEKINTEM</a>
        </div>
    </div>

   -->

    <ul class="list-unstyled border border-left-0 border-dark border-top-0 border-bottom-0 hoverable" th:each="realEstate : ${realEstates}">
        <a th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}">
        <li class="media mt-4 ">
            <div class="col-sm-3">
            <img class="img-fluid content-box " th:src="@{~/hirdetes.png}" th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}"  alt="Generic placeholder image">
            </div>
                <div class="media-body ">

                <h5 class="mb-1 mt-1"   style="color:darkslategray" th:text="|${realEstate.getPrice()} Ft|">List-based media object</h5>

                <p  th:text="${realEstate.getCim()}" style="color:darkslategray" class="mt-4" th:href="@{~/realestates/{id}/(id=${realEstate.getId()})}"></p>
                <p th:text="${realEstate.getDescription()}" style="color:darkslategray" class="mt-5 font-weight-light font-small"></p>
                <p th:text="${realEstate.getUser().getEmail()}"></p>

                </div>
        </li>
        </a>
    </ul>
</div>

<footer th:insert="fragments.html :: foot"></footer>

</body>
</html>