<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<header th:insert="fragments.html :: search"></header>
<div class="container justify-content-center">


    <div class="card">
        <div class="card-body mt-3" th:each="realEstate : ${realEstates}">
            <h5 class="card-title " th:text="${realEstate.getName()}">Panel title</h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${realEstate.getPrice()}">Panel subtitle</h6>
            <p class="card-text " th:text="${realEstate.getDescription()}">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
            <a href="#!" class="card-link">Card link</a>
            <a href="#!" class="card-link">Another link</a>
        </div>
    </div>
</div>

<header th:insert="fragments.html :: foot"></header>

</body>
</html>